html {
  text-align: center;
  font-family: Monaco;
}

.right {
  float: right;
  text-align: center;
}

.page {
  display: inline-block;
}

.square {
  background-color: white;
  border: 1px solid black;
}

.color {
  background-color: gray;
  border: 1px solid black;
}

.gridContainer {
  margin-top: 25px;
  margin-right: 20%;
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  height: 550px;
  width: 550px;
}
